<%= form_for(@user, remote: true, html: {class: 'col-xs-10 col-sm-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1', id: "user_update", role: "form"}) do |f| %>
    <a name="user_edit" title="user_edit"></a>
    <h5><strong>Editar perfil</strong></h5>
    <div class="field form-group">
      <%= f.label :email %></br>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :password %></br>
      <%= f.password_field :password, class: "form-control", value: "#{@user.password}" %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation %></br>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="field form-group" class="col-xs-10 col-lg-4">
      <label for="municipality">Municipio</label>
      <select name="user[municipality]" class="form-control" id="municipality">
        <option>Las Palmas de Gran Canaria</option>
        <option>Tejeda</option>
        <option>Telde</option>
        <option>Gáldar</option>
      </select>
    </div>

    <div class="actions">
      <%= f.submit "Actualizar perfil", class: "btn btn-default" %>
      <br><br>
    </div>

<% end %>