<% if @user.errors.any? %>
    <div class="alert alert-danger col-xs-8 col-xs-offset-2 hidden-sm col-md-3 hidden-md hidden-lg">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <h4>No hemos podido crear su cuenta, es necesario que corrija los siguientes errores:</h4>
      <ul id="new_user_errors">
        <% @user.errors.messages.values.each do |msg| %>
            <% msg.each do |m| %>
                <li><%= m %></li>
            <% end %>
        <% end %>
      </ul>
    </div>
<% end %>

<div id="sign_up_form" class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-lg-3 col-sm-offset-2">
  <%= form_for(@user) do |f| %>

      <div class="field form-group">
        <%= f.label :username, 'Nombre de usuario' %></br>
        <%= f.text_field :username, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :name, 'Nombre' %></br>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :email, 'Email' %></br>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :password, 'Contraseña' %></br>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation, 'Repita la contraseña' %></br>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit 'Registrarse', :class => 'btn btn-default' %>
      </div>
      <br>

  <% end %>
</div>

<% if @user.errors.any? %>
    <div class="alert alert-danger hidden-xs col-xs-8 col-xs-offset-2 col-sm-3 col-lg-offset-2 col-lg-4">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <h4>No hemos podido crear su cuenta, es necesario que corrija los siguientes errores:</h4>
      <ul id="new_user_errors">
        <% @user.errors.messages.values.each do |msg| %>
            <% msg.each do |m| %>
                <li><%= m %></li>
            <% end %>
        <% end %>
      </ul>
    </div>
<% end %>