<%= render "map" %>
<div class="container-fluid">
  <div class="row">
    <div id="info" class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
      <h1><%= @center.name %></h1>

      <p id="only-starts">Estrellas RateFit: <input id="only-stars" class="rating form-control hide" data-stars="5"
                                                    value='<%= @center.rate %>'
                                                    data-min="0" data-max="5" data-step="0.5" data-disabled="true"
                                                    data-size="xs">
      </p>

      <div id="description" class="col-xs-12 col-md-10 col-lg-10">
        <h4>Descripción</h4>

        <p>
          <%= @center.description %>
        </p>

        <div class="address hidden-sm hidden-md hidden-lg">
          <h3>Dirección</h3>

          <p><%= @center.address %><a href="#map"><i class="fa fa-2x fa-map-marker"></i></a>
          </p>
        </div>
        <div class="schedules hidden-sm hidden-md hidden-lg">
          <h3>Horarios <i class="fa fa-clock-o fa-2x"></i>
          </h3>
          <ul>
            <li>Lunes a Viernes: <%= @center.schedule.split("&")[0] %></li>
            <li>Sábados: <%= @center.schedule.split("&")[1] %></li>
            <li>Domingos: <%= @center.schedule.split("&")[2] %></li>
          </ul>
        </div>
      </div>

      <%= render "images_slider" %>

      <%= render "rating_area" %>
    </div>
    <div id="info_right" class="col-xs-12 col-sm-3 col-md-4 col-lg-3">
      <br/>
      <br/>
      <br/>
      <a href="map"></a>

      <div id="map">
      </div>
      <div class="address">
        <h3>Dirección <i class="fa fa-2x fa-map-marker"></i></h3>

        <p><%= @center.address %></p>
      </div>
      <div class="schedules hidden-xs">
        <h3>Horarios <i class="fa fa-clock-o"></i></h3>
        <ul>
          <li>Lunes a Viernes: <%= @center.schedule.split("&")[0] %></li>
          <li>Sábados: <%= @center.schedule.split("&")[1] %></li>
          <li>Domingos: <%= @center.schedule.split("&")[2] %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<% if session[:user_id] %>
    <%= render "rate_modal" %>
<% end %>



