<div class="container-fluid">
  <div class="row">
    <div id="info" class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
      <h1><%= @center.name %></h1>

      <p id="only-starts">Estrellas RateFit: <input id="only-stars" class="rating form-control hide" data-stars="5"
                                                    value='<%= @center.rate %>'
                                                    data-min="0" data-max="5" data-step="0.5" data-disabled="true"
                                                    data-size="xs">
      </p>

      <div id="description" class="col-xs-12 col-md-10 col-lg-10">
        <h4>Descripción</h4>

        <p>
          <%= @center.description %>
        </p>

        <div class="address hidden-sm hidden-md hidden-lg">
          <h3>Dirección</h3>

          <p><%= @center.address %><a href="#map"><i class="fa fa-2x fa-map-marker"></i></a>
          </p>
        </div>
        <div class="schedules hidden-sm hidden-md hidden-lg">
          <h3>Horarios <i class="fa fa-clock-o fa-2x"></i>
          </h3>
          <ul>
            <li>Lunes a Viernes: <%= @center.schedule.split("&")[0] %></li>
            <li>Sábados: <%= @center.schedule.split("&")[1] %></li>
            <li>Domingos: <%= @center.schedule.split("&")[2] %></li>
          </ul>
        </div>
      </div>

      <div id="myCarousel" class="carousel slide col-xs-12 col-md-10" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag "/center_images/#{@center.main_image}", alt: "Center Image" %>
          </div>

          <% @center.get_images.each do |image| %>
              <div class="item">
                <%= image_tag "/center_images/#{image}", alt: "Center Image" %>
              </div>
          <% end %>

        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div id="rating" class="col-xs-12 col-lg-10">
        <h3>Opiniones</h3>
        <ul>
          <li>
            <div>
              <h3>Ayoseturru</h3>
              <h4>Excepcional</h4>

              <p>Está muy bien Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolores eaque
                eius enim, excepturi id illum impedit inventore itaque labore laboriosam molestias nobis
                quia recusandae tempora voluptas, voluptatibus. Laudantium maxime nemo odit optio qui
                quibusdam similique? A amet, atque debitis eum illo laudantium, nemo nihil nulla porro
                rem repudiandae voluptate!
                <br/>
                <br/>
              </p>
            </div>
            <h5>22/04/2012</h5>
          </li>
        </ul>
        <br/>
        <button class="btn btn-default" data-toggle="modal">Añadir reseña</button>
        <br/>
        <br/>
      </div>
    </div>
    <div id="info_right" class="col-xs-12 col-sm-3 col-md-4 col-lg-3">
      <br/>
      <br/>
      <br/>
      <a href="map"></a>

      <div id="map">
      </div>
      <div class="address">
        <h3>Dirección <i class="fa fa-2x fa-map-marker"></i></h3>

        <p><%= @center.address %></p>
      </div>
      <div class="schedules hidden-xs">
        <h3>Horarios <i class="fa fa-clock-o"></i></h3>
        <ul>
          <li>Lunes a Viernes: 8-30: 20:30</li>
          <li>Sábados: 10:00-14:00</li>
          <li>Domingos: cerrado</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQpC-fcG8nNR09V3luqk8ojQ8yw6g2gHc&callback=initMap" async defer>
</script>
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @center.latitude %>, lng: <%= @center.longitude %>},
      zoom: 18
    });
  }
</script>