<li>
  <%= div_for review do %>
      <h3>
        <%= review.user.username %>
      </h3>
      <h4>
        <%= review.title %>
      </h4>
      <p class="stars-area">
        Rate:
        <% for i in 1..review.rate.round do %>
            <i class="fa fa-star"></i>
        <% end %>
        <%= review.rate %>
      </p>
      <p>
        <%= review.comment %>
        <br><br>
      </p>
  <% end %>
  <h5><%= review.date %></h5>
  <% if review.owned_by? current_user %>
      <%= link_to "Eliminar", center_review_path(center_id: @center, id: review), data: {confirm: "¿seguro que quiere eliminar el #{review.id}?"}, method: :delete %>
  <% end %>
</li>
