<div class="row">
  <%= link_to root_path, id: "slogan", class: "col-xs-7 col-sm-10 col-lg-10" do %>
      Believe in Fitness
  <% end %>
  <div id="users_area" class="col-sm-2 col-xs-4 col-lg-1">
    <div class="dropdown">
      <a href="users.html" class="dropdown-toggle" data-toggle="dropdown"><span
      class="glyphicon glyphicon-user"></span></a>
      <ul id="users_dropdown" class="dropdown-menu">
        <% if !session[:username] %>
            <li><a id="signin" href='#'>Iniciar sesión</a></li>
            <li><a id="signin" href='/users/new'>Registrarse</a></li>
        <% end %>
        <% if session[:username] %>
            <li><%= link_to "Editar perfil", edit_user_path(current_user) %></li>
            <li><a id="logout" href='/logout'>Salir</a></li>
        <% end %>
      </ul>
    </div>
    <p id="users_area_text">
      <% if session[:username] %>
          <%= session[:username] %>
      <% else %>
          <%= link_to "Usuarios", new_user_path %>
      <% end %>
    </p>

  </div>
</div>
<div class="row">
  <%= link_to root_path do %>
      <%= image_tag "logo.png", alt: "organization_logo", class: "pull-left hidden-xs hidden-sm col-md-1 img-rounded" %>
  <% end %>
  <nav id="nav" class="navbar navbar-inverse col-xs-12 col-sm-12 col-md-11 col-lg-11">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-sm hidden-md hidden-lg" href="index.html">RateFit</a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"> Buscar</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profesionales</a>
          <ul class="dropdown-menu">
            <li><a href="#">Entrenadores personales</a></li>
            <li><a href="#">Centros deportivos</a></li>
          </ul>
        </li>
        <li><a href="#"> Escribir reseña</a></li>
        <li><a href="#"> Novedades</a></li>
        <li><a href="#">Mejor valorados</a></li>
      </ul>
    </div>
  </nav>
</div>
</div>
</div>

<div class="modal fade" id="loginModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <a type="button" class="close" data-dismiss="modal">&times;</a>
        <h4 class="modal-title">Inicia sesión o regístrate gratis para escribir una reseña</h4>
      </div>
      <div class="modal-body">
        <%= form_tag session_path do %>
            <div class="field form-group">
              <%= label_tag :username, 'Nombre de usuario' %></br>
              <%= text_field_tag :username, nil, class: 'form-control', required: true %>
            </div>
            <div class="field form-group">
              <%= label_tag :password %></br>
              <%= password_field_tag :password, nil, class: 'form-control', required: true %>
            </div>
            <div class="checkbox">
              <label><input type="checkbox"> Recordar</label>
            </div>
            <p><a href="recover_password">Olvidé mi cotnraseña</a></p>
            <% if flash[:login_error] %>
                <div class="alert alert-danger">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <%= flash[:login_error] %>
                </div>
            <% end %>
            <div class="actions">
              <%= submit_tag 'Login', class: 'btn btn-default' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if flash[:login_error] %>
    <script>

      $(document).ready(function () {
        $("#loginModal").modal("show");
      });

    </script>
<% end %>
